<div id="signup">
  <h1>SIGN UP</h1>
  <form action="">
    <div class="signupFields">
      <label>First name</label>
      <input type="text" id="signupFirstName" required autocomplete="off">
    </div>
    <div class="signupFields">
      <label>Last name</label>
      <input type="text" id="signupLastName" required autocomplete="off">
    </div>
    <div class="signupFields">
      <label>Email</label>
      <input type="email" id="signupEmail" required autocomplete="off">
    </div>
    <div class="signupField">
      <label>Birthdate</label>
      <input type="date" id="signupDob" required autocomplete="off">
    </div>
    <div class="signupField">
      <label>Password</label>
      <input type="password" id="signupPassword" required autocomplete="off">
    </div>
    <button type="submit" id="signupSubmit" />Letz start!</button>
  </form>
</div>
