.messages {
  list-style-type: none; margin: 0; padding: 0;
}
.messages li {
  padding: 5px 10px;
}
.messages li:nth-child(odd) {
  background: #eee;
 }

.sendMessage {
  width: 95%;
  position: absolute;
}

.chats {
  position: relative;
}

.ui-dialog {
  background-color: rgba(0, 0, 0, 0.3);
}

.ui-dialog-content {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.chatRequests {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 15px;
  right: 25px;
  text-align: center;
  color: whitesmoke;
  border-radius: 4px;
  padding: 0px 8px 8px 8px;
}

.chatInvites {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 15px;
  right: 25px;
  text-align: center;
  color: whitesmoke;
  border-radius: 4px;
  padding: 0px 8px 8px 8px;
}
