#container{
background-image: url("/public/images/alone3.jpg");
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
}


/* blue button */

#signupButton {
	font-family: 'Nunito', sans-serif;
	background-color: white;
	 border-top: black;
	 border-right: black;
	 border-bottom: black;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: black;
	width: 200px;
	height: 60px;
	font-size: 40px;
	position:absolute;
	margin: 620px 150px 100px 525px;
}



#loginButton {
	font-family: 'Nunito', sans-serif;
	background-color: black;
	border-color: black;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: white;
	width: 200px;
	height: 60px;
	font-size: 40px;
	position:absolute;
	margin: 700px 150px 100px 700px;
}
