

.login-username:before {
	color: #4c4c4c;
	font-size: 20px;
	text-transform: uppercase;
	margin: 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

 .loginFields label, .signupFields label {
	display: none;
	text-indent: -9999px;
}

 ::-moz-placeholder {  /* Firefox 19+ */
   color: #4c4c4c;
}

::-webkit-input-placeholder {
   color: #5d5b5b;
}

.input:focus { border: solid 1px #f35b5b; }

.loginFields {
  text-align: center;
}

.loginFields:after {
	background-color: #f7f7f7;
	color: #f35b5b;
	height: 15px;
	width: 15px;
	float: right;
	font: 400 24px 'oswald';
	line-height: 43px;
	position: relative;
	overflow: hidden;
	right: 2px;
	text-align: center;
	top: -24px;
  margin: auto;
}

.signupFields:after {
	background-color: #f7f7f7;
	color: #f35b5b;
	height: 15px;
	width: 15px;
	float: right;
	font: 400 24px 'oswald';
	line-height: 43px;
	position: relative;
	overflow: hidden;
	right: 2px;
	text-align: center;
	top: -24px;
  margin: auto;
}

.button-primary {
  font-family: 'Nunito', sans-serif;
	font-weight: 300;
  font-size: 24px;
	background-color: #14b9d6;
	border: solid 1px transparent;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
  padding: 1px;
	height: 42px;
	letter-spacing: 1px;
	margin-top: 11px;
	outline: none;
	text-align: center;
	text-transform: uppercase;
	transition: background-color 0.5s;
	width: 100%;
}

.button-primary:hover {
	background-color: #469DB6;

}
.login-remember {
	display: none;
}

/* Code Ends */
