<div id="signup">
    <p id="signupTitle">SIGNUP</p>
    <form name="loginform" id="signupForm" action=""  class="wpl-track-me">

    <p class="signupFields">
        <label for="user_login">First Name</label>
            <input type="text" name="log" id="signupFirstName" class="signupInputs" placeholder="First Name" value="" size="20" />
        </p>

        <p class="signupFields">
        <label for="user_pass">Last Name</label><input type="text" name="pwd" id="signupLastName" class="signupInputs" placeholder="Last Name" value="" size="20" />
        </p>

    <p class="signupFields">
        <label for="user_pass">Email</label><input type="email" name="pwd" id="signupEmail" class="signupInputs" placeholder="Email" value="" size="20" />
        </p>

    <p class="signupFields">
        <label for="user_pass">Date of Birth</label><input type="date" name="pwd" id="signupDob" class="signupInputs" placeholder="Date of Birth" value="" size="20" />
        </p>

    <p class="signupFields">
        <label for="user_pass">Password</label><input type="password" name="pwd" id="signupPassword" class="signupInputs" placeholder="Password" value="" size="20" />
        </p>

        <p class="login-submit"><input type="submit" name="wp-submit" id="signupSubmit" class="button-primary" value="Sign Up" />

        </p>


    </form>
</div>
